blinker==1.4
cachelib==0.5.0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-QRcode==3.0.0
Flask-Session==0.4.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.1.0
numpy==1.22.0
opencv-python==4.5.5.62
Pillow==9.0.0
python-dotenv==0.19.2
qrcode==7.3.1
Werkzeug==2.0.2
