{% extends "officer_layout.html" %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %}
<script>
  var messages = {{ messages | safe }};
  for (var i=0; i<messages.length; i++) {
      Swal.fire({
      title:"Error!",
      text:  messages[i],
      icon: 'error',
      confirmButtonText: 'OK',
      })
  }
</script>
{% endif %} {% endwith %}
<br />
<div class="row justify-content-center ml-1 mr-1">
  <div style="max-width: 1500px">
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto;
      "
    >
      <h2 class="heading-section">Cases</h2>
    </div>

    <div id="toolbar">
      <div class="form-inline" role="form">
        <div class="form-group">
          <span style="margin-right: 5px"> From Date: </span>
          <input
            id="from_date"
            name="from_date"
            class="form-control w70"
            type="date"
          />
        </div>
        <div class="form-group">
          <span style="margin-left: 20px; margin-right: 5px">To Date: </span>
          <input
            id="to_date"
            name="to_date"
            class="form-control w70"
            type="date"
            style="margin-right: 20px"
          />
        </div>
        <div style="margin-right: 10px">
          <button id="ok_filter" type="button" class="btn btn-primary">
            OK
          </button>
        </div>
        <div style="margin-right: 10px">
          <button id="clear_filter" type="button" class="btn btn-secondary">
            Clear
          </button>
        </div>
        <div>
          <button
            class="btn btn-warning"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addModal"
          >
            Adding case
          </button>
        </div>
      </div>
    </div>
    <!--add modal-->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      aria-labelledby="addModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="{{url_for('cases_table_add')}}"
              id="addsubject"
              class="signup-form"
              style="color: #6c757d"
              method="post"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="id" />
              <div class="form-group mb-4">
                <label class="label">Subject</label>
                <input
                  name="subject"
                  maxlength="50"
                  class="form-control"
                  required="1"
                />
              </div>
              <div class="form-group mb-4">
                <label class="label">Pet's name</label>
                <input
                  name="pet_name"
                  maxlength="20"
                  class="form-control"
                  list="pname"
                  autocomplete="off"
                  required="1"
                />
              </div>
              <div class="form-group mb-4">
                <label class="label">Queue</label>
                <input
                  name="queue"
                  type="datetime-local"
                  class="form-control"
                  required="1"
                />
              </div>
              <div>
                <div class="form-group mb-4">
                  <label class="label">Camera ID</label>
                  <select required class="form-control" id="cam" name="cam_id">
                    <option value="">Select the camera ID</option>
                    {% for i in num_cams %}
                    <option id="camera{{i}}" value="{{i}}">{{i}}</option>
                    {% endfor %}
                    <option value="None">None</option>
                  </select>
                </div>
              </div>
              <div class="form-group mb-4">
                <label class="label">Doctor's fullname</label>
                <input
                  name="doc_name"
                  maxlength="50"
                  class="form-control"
                  list="dname"
                  autocomplete="off"
                  required="1"
                />
              </div>
              <div class="form-group mb-4">
                <label class="label">Note</label>
                <textarea
                  name="note"
                  style="
                    color: #6c757d;
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                  "
                ></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="button_add">
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <table
      class="table"
      style="color: #6c757d; word-break: break-word"
      id="table"
      data-toggle="table"
      data-search="true"
      data-filter-control="true"
      data-show-export="true"
      data-click-to-select="true"
      data-pagination="true"
      data-toolbar="#toolbar"
      data-detail-view="true"
      data-detail-view-by-click="false"
      data-detail-view-icon="true"
      data-detail-formatter="detailFormatter"
      data-auto-refresh="true"
    >
      <thead>
        <tr>
          <th data-sortable="true">Subject</th>
          <th data-sortable="true" data-width="100">Pet's name</th>
          <th data-width="200" data-sortable="true" data-field="queue_head">
            Queue
          </th>
          <th data-sortable="true" data-width="110">Status</th>
          <th data-sortable="true" data-width="100">Cam ID</th>
          <th data-visible="false">Note</th>
          <th data-sortable="true">Owner</th>
          <th data-sortable="true" data-width="150">Doctor</th>
          <th data-width="180">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(table|length) %}
        <tr>
          {% for j in range(table[i]|length) %} {% if j!=0 and j!=8 %}
          <td>{{table[i][j]}}</td>
          {% endif %} {% endfor %}
          <td>
            <div style="width: 150px">
              <a
                id="print{{table[i][0]}}"
                type="button"
                style="color: white"
                class="btn btn-info"
                data-bs-toggle="modal"
                data-bs-target="#printModal{{table[i][0]}}"
              >
                <i class="bi bi-printer"></i>
              </a>
              <a
                id="edit{{table[i][0]}} "
                type="button"
                style="color: white"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#editModal{{table[i][0]}}"
              >
                Edit
              </a>
              <a
                href="{{url_for('delete_row_cases',id=table[i][0])}}"
                id="delete{{table[i][0]}}"
                onclick="return delete_confirm(this, event);"
                type="button"
                class="btn btn-danger"
              >
                <i class="bi bi-trash"></i>
              </a>
            </div>

            <!--Edit  Modal -->
            <div
              class="modal fade"
              id="editModal{{table[i][0]}}"
              tabindex="-1"
              aria-labelledby="editModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form
                      action="{{url_for('update_cases')}}"
                      class="signup-form"
                      id="edit_form{{table[i][0]}}"
                      style="color: #6c757d"
                      method="post"
                      enctype="multipart/form-data"
                    >
                      <input type="hidden" name="id" value="{{table[i][0]}}" />
                      <div class="form-group mb-4">
                        <label class="label">Subject</label>
                        <input
                          name="subject"
                          maxlength="50"
                          class="form-control"
                          value="{{table[i][1]}}"
                          required="1"
                        />
                      </div>
                      <div class="form-group mb-4">
                        <label class="label">Pet's name</label>
                        <input
                          name="pet_name"
                          autocomplete="off"
                          maxlength="20"
                          class="form-control"
                          value="{{table[i][2]}}"
                          list="pname"
                          required="1"
                        />
                      </div>
                      <div class="form-group mb-4">
                        <label class="label">Queue</label>
                        <input
                          name="queue"
                          type="datetime-local"
                          class="form-control"
                          value="{{table[i][3].strftime('%Y-%m-%dT%H:%M')}}"
                          required="1"
                        />
                      </div>

                      <div>
                        <div class="form-group mb-4">
                          <label class="label">Camera ID</label>
                          <select
                            required
                            class="form-control"
                            name="cam_id_edit"
                            id="cam_id_edit{{table[i][0]}}"
                            onclick="check_edit(this)"
                          >
                            <option
                              selected="selected"
                              name="default"
                              value="{{table[i][5]}}"
                            >
                              {{table[i][5]}}
                            </option>

                            {% for k in num_cams %} {% if k != table[i][5] %}
                            <option id="camera_edit{{k}}" value="{{k}}">
                              {{k}}
                            </option>
                            {% endif %} {% endfor %} {% if table[i][5] != None
                            %}
                            <option value="None">None</option>
                            {% endif %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <label class="label">Doctor's fullname</label>
                        <input
                          name="doc_name"
                          maxlength="50"
                          class="form-control"
                          list="dname"
                          autocomplete="off"
                          value="{{table[i][9]}}"
                          required="1"
                        />
                      </div>
                      <div class="form-group mb-4">
                        <label class="label">Note</label>
                        <textarea
                          name="note"
                          style="
                            color: #6c757d;
                            width: 100%;
                            height: 200px;
                            border-radius: 5px;
                          "
                        >
{{table[i][6]}}</textarea
                        >
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          id="save{{table[i][0]}}"
                          class="btn btn-primary"
                          onclick="save_change_confirm(this,event)"
                        >
                          Save changes
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Print Modal -->
            <div
              class="modal fade"
              id="printModal{{table[i][0]}}"
              tabindex="-1"
              aria-labelledby="printModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="printModalLabel">Print</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div
                    id="print_comp{{table[i][0]}}"
                    class="modal-body"
                    style="display: grid"
                  >
                    <div style="place-self: center; margin: 10px">
                      <img
                        id="qrcode"
                        src="{{ qrcode('http://localhost:5000/login') }}"
                      />
                    </div>
                    <label class="label-breakword"
                      >Subject : {{table[i][1]}}</label
                    >
                    <label class="label-breakword"
                      >Pet's name : {{table[i][2]}}</label
                    >
                    <label class="label-breakword"
                      >Queue time : {{table[i][3]}}
                    </label>
                    <label class="label-breakword"
                      >Camera ID : {{table[i][5]}}</label
                    >
                    <label class="label-breakword"
                      >Owner : {{table[i][7]}}</label
                    >
                    <label class="label-breakword"
                      >Username : {{table[i][8]}}</label
                    >
                    <label class="label-breakword"
                      >Doctor : {{table[i][9]}}</label
                    >
                    <label class="label-breakword"
                      >Note : {{table[i][6]}}</label
                    >
                  </div>

                  <div class="modal-footer">
                    <button
                      id="print_button{{table[i][0]}}"
                      onclick="printing(this)"
                      type="button"
                      class="btn btn-primary"
                    >
                      Print
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<datalist id="pname">
  {% for k in range(datalist|length) %} {% for m in range(datalist|length) %}
  <option value="{{datalist[k][m]}}"></option>
  {% endfor %} {% endfor %}
</datalist>
<datalist id="dname">
  {% for k in range(doclist|length) %} {% for m in range(doclist|length) %}
  <option value="{{doclist[k][m]}}"></option>
  {% endfor %} {% endfor %}
</datalist>
<script>
     function save_change_confirm(self,e){
         e.preventDefault();
         Swal.fire({
             title: 'Warning!',
             text: 'Are you sure?',
             icon: 'warning',
             confirmButtonText: 'Yes',
             showCancelButton: true,
             }).then(resulte => {
                 if(resulte.isConfirmed) {
                     let id_num= self.id.replace(/[^0-9]/g,'');
                     let editform = document.getElementById('edit_form'+id_num);

                     editform.submit()
                 }
             });

     }
     function delete_confirm(self,e){
         e.preventDefault();
         var urlToRedirect = e.currentTarget.getAttribute('href');
         Swal.fire({
             title: 'Warning!',
             text: 'Are you sure to delete?',
             icon: 'warning',
             confirmButtonText: 'Yes',
             showCancelButton: true,
             }).then(resulte => {
                 if(resulte.isConfirmed) {
                     window.location.href = urlToRedirect;
                 }
             });
     }

     function printing(butt){
         let id_num=butt.id.replace(/[^0-9]/g,'');
         var elem = document.getElementById('print_comp'+id_num)
         var domClone = elem.cloneNode(true);
         var $printSection = document.getElementById("printSection");
        //  console.log($printSection);
         if (!$printSection) {
             var $printSection = document.createElement("div");
             $printSection.id = "printSection";
             document.body.appendChild($printSection);
         }
         $printSection.innerHTML = "";
         $printSection.appendChild(domClone);
         window.print();
     }

     function detailFormatter(index, row) {
         var html = []
         html.push('<p><b>' +"Note" + ':</b> ' + row[5] + '</p>')
         return html.join('')
     }

     $(function() {
         $('#table').bootstrapTable()
     })
     function getDates(startDate, stopDate) {
         var datetimeArray = [];
         var dateArray = [];
         var date_interval=[];
         {% for i in range(table|length) %}
             datetimeArray.push('{{table[i][3]}}');
             dateArray.push("{{table[i][3].strftime('%Y-%m-%d')}}");
         {% endfor %}
         if(!startDate && !stopDate){
             return null ;
         }

         for(let i =0;i<dateArray.length;i++){
             let date_check = new Date(dateArray[i])
             let stadate= new Date(startDate)
             let stodate= new Date(stopDate)

             if(date_check>=stadate && date_check<= stodate ){
                 date_interval.push(datetimeArray[i]);
             }else if(date_check>=stadate && !(stopDate)){
                 date_interval.push(datetimeArray[i]);
             }else if(date_check<= stodate && !(startDate)){
                 date_interval.push(datetimeArray[i]);
             }
         }
         return date_interval;
     }

     $("#button_add").click(function(e){
         e.preventDefault();
         var form =$("#addsubject");
         if (!form[0].checkValidity()) {
             form[0].reportValidity()
         } else {
              Swal.fire({
                     title: "Are you sure?",
                     text: "Did you check all the inputs?",
                     icon: 'warning',
                     showCancelButton: true,
                     confirmButtonColor: '#3085d6',
                     cancelButtonColor: '#d33',
                     confirmButtonText: "Yes, Submit!",
                 }).then(resulte => {
                     if(resulte.isConfirmed) {
                         form.submit();
                     }
                 });
         }
     });


     $('#ok_filter').click(function() {

         var $table = $('#table')
         var from = $("input[type=date][name=from_date]").val();
         var to = $("input[type=date][name=to_date]").val();
         if(getDates(from, to)!=null)
         {$table.bootstrapTable('filterBy', {
             queue_head: getDates(from, to)
         })}
     })

     $('#clear_filter').click(function() {
         //console.log(getDates(from, to))
         var $table = $('#table')
         $('#from_date').val('')
         $('#to_date').val('')

         $table.bootstrapTable('filterBy', {
             queue_head: getDates(null,null)
         })
         location.reload();

     })
     var cam=document.getElementById('cam')

  function check(){
  	$.ajax({
                 type: "GET",
                 url: "{{url_for('check_cam_busy')}}",
                 contentType: "application/json",
                 dataType: 'json',
                 success:function(data){
                  // console.log(data)
                  for(let i =0;i<Object.keys(data).length;i++){
                    id = 'camera'+i;
                    var opt = document.getElementById(id)
                    //console.log(data[i])
                    if(data[i]){
                      opt.setAttribute("disabled", "disabled");
                    }
                  }
                 },
             })
  }
   cam.addEventListener('focusin', check);
    function check_edit(elem){
  	    $.ajax({
                 type: "GET",
                 url: "{{url_for('check_cam_busy')}}",
                 contentType: "application/json",
                 dataType: 'json',
                 success:function(data){
                  for(let i =0;i<Object.keys(data).length;i++){
                      // console.log(elem.children)
                      var index=-1;
                      elem.children.forEach(op=>{
                        if(op.value == i && data[i] && op.getAttribute("name")!="default")
                        {
                          op.setAttribute("disabled", "disabled");
                        }

                      })

                  }
               },
             })
  }
</script>
{% endblock %}
