<html>
    <head>
      <title>Register</title>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
  
      <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
        rel="stylesheet"
      />
  
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      />
  
      <link rel="stylesheet" href="../static/login/css/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
        rel="stylesheet"
      />
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <style>
        body {
          font-family: "Kanit";
        }
      </style>      
    <body>
      {% with messages = get_flashed_messages() %} 
      {% if messages %}
      {% if swal[1] == "error" %}
          <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
              Swal.fire({
              title: '{{swal[0]}}',
              text: messages[i],
              icon: '{{swal[1]}}',
              confirmButtonText: 'OK',
              })
            }
          </script>
    {% else %}
        <script>
          var messages = {{ messages | safe }};
          for (var i=0; i<messages.length; i++) {
            Swal.fire({
            title: '{{swal[0]}}',
            text: messages[i],
            icon: '{{swal[1]}}',
            confirmButtonText: 'OK',
            }).then((result)=>{
              if (result.isConfirmed) {
                location.replace("{{url_for('login')}}")
              }
            })
          }
        </script>
    {% endif %} 
    {% endif %} 
    {% endwith %}
      <section class="ftco-section">
      <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section" style="font-family: 'Kanit'">
            สมัครสมาชิก
          </h2>
        </div>
      </div>
        <div class="row justify-content-center" style="margin-top: 10px;">
          <div class="col-lg-10 col-md-12">
            <div class="wrap d-md-flex" style="max-width: 750px; margin-left: auto;margin-right: auto;" >
              <div class="login-wrap p-4 p-md-5" style="margin-left: auto;margin-right: auto; width: 85%;">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4" style="text-align: center;font-family: Kanit;">Sign Up</h3>
                  </div>
                </div>
                <form
                  action="{{url_for('register')}}"
                  method="POST"
                  class="signin-form"
                >
                  <div class="form-group ">
                    <label class="label" for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      name="name"
                      maxlength="50"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="surname">Surname</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Surname"
                      name="surname"
                      maxlength="50"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      name="username"
                      maxlength="20"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      id = "password"
                      maxlength="50"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Confirm password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Confirm password"
                      name="confirm_password"
                      id = "confirm_password"
                      maxlength="50"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="email"
                      maxlength="100"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="tel">Telephone</label>
                    <input
                      type="tel" pattern="[0-9]{10}" 
                      maxlength="10"
                      class="form-control"
                      placeholder="0XXXXXXXX"
                      name="tel"
                      required
                    />
                  </div>
                  <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="form-control btn btn-primary submit px-3"
                      style="border-radius: 40px"
                      value="Sign up"
                    >
                      Sign Up
                    </button>
                  </div>
                  <div class="form-group">
                    <a
                      href="/"
                      type="button"
                      class="form-control btn btn-secondary px-3"
                      style="border-radius: 40px"
                      >Back to Home page</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </section>
    <script type="text/javascript">(function(){window['__CF$cv$params']={r:'6dc640a3afbe4b95',m:'W8h4ETFd8_mRmbURDWOrTy3L6tKqcxnodc9qxh6Xn44-1644673475-0-AdjzToCkztk3SbnSlFVJL28YnunRAbzedFaqyGDFWzDPgsBXFqZW81eAqCxJi85TQoOWeTqZaq7eJv9BNu5/3h3lRevrmt5juqSigLB87fO0DW3CFOE1HV3iNNKyumFIsxVKuTj2GjJ8oumXGQ41Eq+vJuQtLjfyjB3DYuv9Yd59xK+CHugOP8ptHJOBDdm4IXA4DuY2P4agQRX9oxQe3kQ=',s:[0x6225f4c9fd,0xa79874b44c],}})();</script></body>
    <script>
    var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");
    
    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;</script>
</html>